* {
    box-sizing: border-box;
    margin: 0;
}

/* .box{
    display: inline;
    margin: 8px;
    width: 900px;
    height: 400px;
    background-color: plum;
} */

.container
{
    display: flex;
    flex-wrap: wrap-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    /* flex-direction:row-reverse; */
    height: 100vh;
}
.imgBox{
    width: 300px;
    margin: 3px;
    border: 1px solid;
}
.box{
    width: 300px;
    height: 300px;
    margin: 3px;
    background-color: tomato;
  
}



/* .navbar {
    display: flex;
    background-color: rgb(160, 160, 160);
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    justify-content: space-around;
    justify-content: space-between;
} */


/* .nav-img {
    width: 180px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    font-size: 28px;
    text-decoration: none;
    color: aliceblue;
} */